<a href="https://colab.research.google.com/github/edilyrosa/Ccs-Datos-Py-Viernes/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**üßπüêºlimpieza de los datos de las series con panda**

In [2]:
import pandas as pd
from IPython.display import display

# Paso 0: Definir √≠ndices y datos seg√∫n el problema
indices = ["Ana", "Luis", "Marta", "Juan", "Carlos", "Lucia", "Eva", "Pedro",
           "Sofia", "Mario", "Sandra", "David", "Laura", "Jorge", "Clara", 101, 202, "Rosa", "Oscar", "Alma"]
datos = [9.5, "7", None, "N/A", 8, 10, 6.5, "five", 12, 7.5, 8, None, "9.1", "bad", 7, 8.2, 9, "0"]

# Paso 1: Verificar longitud de √≠ndices y datos
display('Paso 1Ô∏è‚É£: Verificando longitud de √≠ndices y datos')
len_indices = len(indices)
len_datos = len(datos)
display('üî¢Tabla (Dataframe) Inidices Vs. Datos')
display(pd.DataFrame({'√çndices': [len_indices], 'Datos': [len_datos]}))

if len_indices != len_datos:
    print(f"\nError: hay {len_indices} etiquetas pero {len_datos} datos.")
    # Para continuar, ajustamos los datos a√±adiendo NaN para equiparar
    from numpy import nan
    #Se a√±aden los 2 NaN al final de la lista de datos para llegar a 20.
    #Corresponderan a las 2 √∫ltimas etiquetas sin dato.
    datos.extend([nan] * (len_indices - len_datos))
    print(f"\nDatos extendidos con NaN para igualar longitud: {len(datos)} datos ahora.")
    print('miralos al final de esa lista', datos)
    print()

# Paso 2: Crear la Serie ya Mapeada

# Paso 3: Detectar √≠ndices inv√°lidos (no strings)


# Paso 4: Convertir datos a num√©ricos, forzando conversi√≥n con errores a ser NaN


# Paso 5: Contar valores faltantes/NaN


# Paso 6: Rellenar NaN con promedio de los valores v√°lidos


# Paso 7: Resultados finales


# Paso 8: Opcionalmente, corregir √≠ndices inv√°lidos a string para evitar errores posteriores

'Paso 1Ô∏è‚É£: Verificando longitud de √≠ndices y datos'

'üî¢Tabla (Dataframe) Inidices Vs. Datos'

   √çndices  Datos
0       20     18

Error: hay 20 etiquetas pero 18 datos.

Datos extendidos con NaN para igualar longitud: 20 datos ahora.
miralos al final de esa lista [9.5, '7', None, 'N/A', 8, 10, 6.5, 'five', 12, 7.5, 8, None, '9.1', 'bad', 7, 8.2, 9, '0', nan, nan]

3.ANALISIS DE LOS DATOS LIMPIOS COM PANDAS üêº![image.png]()

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# ============================================
# PASO 0: DATOS LIMPIOS (YA LOS TIENES)
# ============================================

print("\n‚úÖ DATOS LIMPIOS:")
display(serie_limpia)
print(f"\nTotal de estudiantes: {len(serie_limpia)}")

# ============================================
# PASO 1: AN√ÅLISIS EXPLORATORIO DE DATOS (EDA)
# ============================================

print("\n" + "="*80)
print("üìà PASO 1: AN√ÅLISIS EXPLORATORIO DE DATOS (EDA)")
print("="*80)

print("\nüîç 1.1 ESTAD√çSTICAS DESCRIPTIVAS")
print("-" * 50)

# Estad√≠sticas b√°sicas
print("\nüìä Resumen estad√≠stico completo:")
display(serie_limpia.describe())

‚úÖ DATOS LIMPIOS:

Ana       9.50
Luis      7.00
Marta     7.83
Juan      7.83
Carlos    8.00
Lucia    10.00
Eva       6.50
Pedro     7.83
Sofia    12.00
Mario     7.50
Sandra    8.00
David     7.83
Laura     9.10
Jorge     7.83
Clara     7.00
101       8.20
202       9.00
Rosa      0.00
Oscar     7.83
Alma      7.83
dtype: float64

Total de estudiantes: 20

================================================================================
üìà PASO 1: AN√ÅLISIS EXPLORATORIO DE DATOS (EDA)
================================================================================

üîç 1.1 ESTAD√çSTICAS DESCRIPTIVAS
--------------------------------------------------

üìä Resumen estad√≠stico completo:

count   20.00
mean     7.83
std      2.21
min      0.00
25%      7.75
50%      7.83
75%      8.40
max     12.00
dtype: float64