<a href="https://colab.research.google.com/github/edilyrosa/Ccs-Datos-Py-Viernes/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**‚õπüèΩ‚Äç‚ôÄÔ∏èüèãüèΩ‚Äç‚ôÄÔ∏è EJERCICIO #1: 1ERA PARTE: Creacion de series, accederla, .index, .values‚õπüèΩ‚Äç‚ôÄÔ∏èüèãüèΩ‚Äç‚ôÄÔ∏è**

In [39]:
import pandas as pd
from IPython.display import display

# Definir etiquetas y datos
nombres = ["Ana", "Luis", "Marta", "Juan"]
calificaciones = [8.5, 7.0, 9.2, 6.8]

# Crear la Serie
serie_calificaciones = pd.Series(calificaciones, index=nombres)

# Mostrar toda la Serie
display("Serie completa, devolveran tag-value:")
display(serie_calificaciones)

# Acceder al valor mediante la etiqueta
display("Calificaci√≥n de Marta (devuelve el valor):")
print(serie_calificaciones["Marta"])

# Mostrar √≠ndice y datos por separado
display("√çndice (etiquetas), devuelve list de tags:")
print(serie_calificaciones.index)
display("Datos (calificaciones), devuelve list de values:")
print(serie_calificaciones.values)

'Serie completa, devolveran tag-value:'

Ana      8.5
Luis     7.0
Marta    9.2
Juan     6.8
dtype: float64

'Calificaci√≥n de Marta (devuelve el valor):'

9.2

'√çndice (etiquetas), devuelve list de tags:'

Index(['Ana', 'Luis', 'Marta', 'Juan'], dtype='object')

'Datos (calificaciones), devuelve list de values:'

[8.5 7.  9.2 6.8]

**üêºPANDAS: EXPLICACION DE SLICING Y PROPIEDADES sr.loc[star:end], sr.iloc[star:end]**

### Explicaci√≥n de Slicing, .loc[], y .iloc[] en Pandas Series

En Pandas, puedes acceder y seleccionar partes de una Serie de diferentes maneras, y es crucial entender las diferencias entre slicing, `.loc[]`, y `.iloc[]`.

*   **Slicing:**
    *   Cuando se usa slicing con **posiciones enteras** (por ejemplo, `my_series[0:3]`), funciona de manera similar al slicing en listas de Python: incluye el elemento en la posici√≥n inicial pero **excluye** el elemento en la posici√≥n final.
    *   Cuando se usa slicing con **etiquetas** (por ejemplo, `my_series["a":"c"]`), es diferente a las listas de Python: **incluye** tanto la etiqueta inicial como la final en el resultado.

*   **`.loc[]`:**
    *   Se utiliza para seleccionar datos **basados en las etiquetas** del √≠ndice.
    *   Permite seleccionar una sola etiqueta, un rango de etiquetas (incluyendo tanto la inicial como la final), o una lista de etiquetas.
    *   Siempre trabaja con las etiquetas del √≠ndice, no con las posiciones num√©ricas por defecto.

*   **`.iloc[]`:**
    *   Se utiliza para seleccionar datos **basados en la posici√≥n entera** de los elementos (la posici√≥n comienza en 0).
    *   Permite seleccionar una sola posici√≥n, un rango de posiciones (incluyendo la inicial pero excluyendo la final, como en el slicing de listas de Python), o una lista de posiciones.
    *   Siempre trabaja con las posiciones num√©ricas de los elementos, ignorando las etiquetas del √≠ndice.

En resumen:
- Usa **slicing por posici√≥n** o **`.iloc[]`** cuando quieras seleccionar elementos bas√°ndote en su orden num√©rico (0, 1, 2, ...).
- Usa **slicing por etiqueta** o **`.loc[]`** cuando quieras seleccionar elementos bas√°ndote en sus nombres o etiquetas en el √≠ndice. Recuerda la diferencia en c√≥mo manejan el punto final. La forma m√°s segura y expl√≠cita para seleccionar por etiqueta es usar `.loc[]`.

In [38]:
import pandas as pd

# Crear una Serie de ejemplo
data = [10, 20, 30, 40, 50]
index = ["a", "b", "c", "d", "e"]
my_series = pd.Series(data, index=index)

print("Serie original, devuelve tag-value:")
display(my_series)

print("\n--- Slicing ---")
# Slicing por posici√≥n (similar a las listas de Python)
print("Slicing por posici√≥n [0:3], devolveran tag-value de la porcion")
display(my_series[0:3]) # Incluye el inicio (0) pero excluye el final (3)

# Slicing por etiqueta (incluye tanto el inicio como el final)
print("\nSlicing por etiqueta ['a':'c'], devolveran tag-value de la porcion")
display(my_series["a":"c"]) # Incluye 'a' y 'c'

print("\n--- .loc[] (selecci√≥n por etiqueta), devuelve el valor ---")
# Seleccionar un elemento por etiqueta, devuelve el valor
print(".loc['c']:")
print(my_series.loc['c'])

# Seleccionar un rango de elementos por etiqueta (incluye tanto el inicio como el final)
print(".loc['b':'d']:")
display(my_series.loc['b':'d'])

# Seleccionar elementos por una lista de etiquetas
print(".loc[['a', 'e', 'c']]:")
display(my_series.loc[['a', 'e', 'c']])

print("\n--- .iloc[] (selecci√≥n por posici√≥n entera), devuelve el valor ---")
# Seleccionar un elemento por posici√≥n entera, devuelve el valor
print(".iloc[2]:")
print(my_series.iloc[2])

# Seleccionar un rango de elementos por posici√≥n entera (incluye el inicio, excluye el final), devuelve tag-value
print(".iloc[1:4]:")
display(my_series.iloc[1:4])

# Seleccionar elementos especificos en ese orden, por una lista de posiciones enteras, devuelve tag-value
print(".iloc[[0, 4, 2]]:")
display(my_series.iloc[[0, 4, 2]])

Serie original, devuelve tag-value:

a    10
b    20
c    30
d    40
e    50
dtype: int64

--- Slicing ---
Slicing por posici√≥n [0:3], devolveran tag-value de la porcion

a    10
b    20
c    30
dtype: int64

Slicing por etiqueta ['a':'c'], devolveran tag-value de la porcion

a    10
b    20
c    30
dtype: int64

--- .loc[] (selecci√≥n por etiqueta), devuelve el valor ---
.loc['c']:
30
.loc['b':'d']:

b    20
c    30
d    40
dtype: int64

.loc[['a', 'e', 'c']]:

a    10
e    50
c    30
dtype: int64

--- .iloc[] (selecci√≥n por posici√≥n entera) ---
.iloc[2]:
30
.iloc[1:4]:

b    20
c    30
d    40
dtype: int64

.iloc[[0, 4, 2]]:

a    10
e    50
c    30
dtype: int64

***üèãüèΩ‚Äç‚ôÄÔ∏è‚õπüèΩ‚Äç‚ôÄÔ∏è EJERCICIO #1: 2DA PARTE: Slicing, .loc[star:end], .iloc[star:end] ‚õπüèΩ‚Äç‚ôÄÔ∏èüèãüèΩ‚Äç‚ôÄÔ∏è***

In [34]:

print("Rango de calificaciones por posicion: devolveran tag-value de la porcion")
print('con slicing simple\n', serie_calificaciones[:3], end='\n\n')       #Desde 0 hasta posicion 2: Ana  8.5 Luis  7.0 Marta 9.2
print('iloc[star:end-1]\n', serie_calificaciones.iloc[:3], end='\n\n')    #Desde 0 hasta posicion 2

print("Rango de calificaciones por etiqueta: devolveran tag-value de la porcion")
print('con slicing simple\n', serie_calificaciones["Ana":"Marta"],end='\n\n')  #De la una hasta la otra
print('loc[star:end]\n', serie_calificaciones.loc["Ana":"Marta"])              #De la una hasta la otra

Rango de calificaciones por posicion:
con slicing simple
 Ana      8.5
Luis     7.0
Marta    9.2
dtype: float64

iloc[star:end-1]
 Ana      8.5
Luis     7.0
Marta    9.2
dtype: float64

Rango de calificaciones por etiqueta:
con slicing simple
 Ana      8.5
Luis     7.0
Marta    9.2
dtype: float64

loc[star:end]
 Ana      8.5
Luis     7.0
Marta    9.2
dtype: float64

**‚õπüèΩ‚Äç‚ôÄÔ∏èüèãüèΩ‚Äç‚ôÄÔ∏è EJERCICIO #1: 3ERA PARTE: MEediana, ...‚õπüèΩ‚Äç‚ôÄÔ∏èüèãüèΩ‚Äç‚ôÄÔ∏è**

### Explicaci√≥n de Estad√≠sticas Descriptivas en Pandas Series

Al trabajar con una Serie de Pandas, puedes obtener r√°pidamente un resumen de sus caracter√≠sticas principales utilizando m√©todos estad√≠sticos. Aqu√≠ te explicamos algunos de los m√°s comunes:

*   **Media (`.mean()`):**
    *   Es el promedio de todos los valores en la Serie. Se calcula sumando todos los valores y dividiendo por el n√∫mero total de valores. Es sensible a valores at√≠picos (outliers).
    *   **[Insertar imagen: Gr√°fico de distribuci√≥n con la media marcada]**

*   **Mediana (`.median()`):**
    *   Es el valor central en la Serie cuando los datos est√°n ordenados de menor a mayor. Si hay un n√∫mero par de observaciones, es el promedio de los dos valores centrales. La mediana es menos sensible a los valores at√≠picos que la media.
    *   **[Insertar imagen: Gr√°fico de distribuci√≥n con la mediana marcada]**

*   **M√°ximo (`.max()`):**
    *   Es el valor m√°s alto en la Serie.

*   **M√≠nimo (`.min()`):**
    *   Es el valor m√°s bajo en la Serie.

*   **Cuartiles (`.quantile([0.25, 0.5, 0.75])`):**
    *   Los cuartiles dividen los datos ordenados en cuatro partes iguales.
        *   El primer cuartil (Q1, 0.25) es el valor por debajo del cual se encuentra el 25% de los datos.
        *   El segundo cuartil (Q2, 0.5 o 50%) es la mediana.
        *   El tercer cuartil (Q3, 0.75) es el valor por debajo del cual se encuentra el 75% de los datos.
    *   El rango intercuart√≠lico (IQR) es la diferencia entre Q3 y Q1 y representa el rango del 50% central de los datos.
    *   **[Insertar imagen: Diagrama de caja (Box plot) mostrando cuartiles y mediana]**

*   **`describe()`:**
    *   Este m√©todo proporciona un resumen completo de varias estad√≠sticas descriptivas, incluyendo el conteo de observaciones, media, desviaci√≥n est√°ndar, m√≠nimo, cuartiles (25%, 50%, 75%) y el m√°ximo. Es muy √∫til para obtener una visi√≥n general r√°pida de la distribuci√≥n de los datos.
    *   **[Insertar imagen: Tabla o resumen visual de output de describe()]**

Estas estad√≠sticas te ayudan a entender la distribuci√≥n central, la dispersi√≥n y el rango de los datos en tu Serie.

In [40]:
# Calcular promedio de calificaciones
promedio = serie_calificaciones.mean()
print("Promedio de calificaciones:", promedio)

# Calcular mediana
mediana = serie_calificaciones.median()
print("Mediana de calificaciones:", mediana)

# Calcular el m√°ximo
maximo = serie_calificaciones.max()
print("Calificaci√≥n m√°xima:", maximo)

# Calcular el m√≠nimo
minimo = serie_calificaciones.min()
print("Calificaci√≥n m√≠nima:", minimo)

# Calcular cuartiles
cuartiles = serie_calificaciones.quantile([0.25, 0.5, 0.75])
print("\nCuartiles de calificaciones:")
display(cuartiles)

# Usar describe() para estad√≠sticas descriptivas
print("\nEstad√≠sticas descriptivas con describe():")
display(serie_calificaciones.describe())

Mediana de calificaciones: 7.75
Calificaci√≥n m√°xima: 9.2
Calificaci√≥n m√≠nima: 6.8

Cuartiles de calificaciones:

0.25    6.950
0.50    7.750
0.75    8.675
dtype: float64

Estad√≠sticas descriptivas con describe():

count    4.000000
mean     7.875000
std      1.164403
min      6.800000
25%      6.950000
50%      7.750000
75%      8.675000
max      9.200000
dtype: float64

In [4]:
import pandas as pd
from IPython.display import display

# 1. Crear Serie de ventas semanales
productos = ["Pan", "Leche", "Cereal", "Huevos", "Arroz", "Frijoles", "Queso"]
ventas_semanales = [15, 22, 18, 27, 19, 31, 16]
ventas = pd.Series(ventas_semanales, index=productos)

# Mostrar la Serie
display("Ventas semanales:")
display(ventas)

# 2. Acciones solicitadas
# Ventas de 'Cereal'
display(ventas.loc["Cereal"])

# Producto m√°s vendido
display(ventas.idxmax())

# Suma total de ventas
display(ventas.sum())

# Productos con ventas > 20
display(ventas[ventas > 20])

# Ventas mayores al promedio
promedio = ventas.mean()
ventas_mayor_prom = ventas[ventas > promedio]
display(ventas_mayor_prom)

'Ventas semanales:'

Pan         15
Leche       22
Cereal      18
Huevos      27
Arroz       19
Frijoles    31
Queso       16
dtype: int64

np.int64(18)

'Frijoles'

np.int64(148)

Leche       22
Huevos      27
Frijoles    31
dtype: int64

Leche       22
Huevos      27
Frijoles    31
dtype: int64